<footer _ngcontent-tjv-c1="" id="footer" style="margin: 50px 0 40px 0;">
    <div _ngcontent-tjv-c1="" class="container">
        <div _ngcontent-tjv-c1="" style="text-align: center;">
            <div _ngcontent-tjv-c1="" class="footer-content">
                <a _ngcontent-tjv-c1="" class="secpageFooter" href="#" target="_blank">Privacy Policy</a> |
                <a _ngcontent-tjv-c1="" class="secpageFooter" href="#" target="_blank">Terms &amp; Conditions</a>
                <p _ngcontent-tjv-c1="" class="secpageFooterP">© Copyright 2020 - iSolarOS, All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
