<div _ngcontent-tyr-c1="" class="body"> 
    <div _ngcontent-tyr-c1="" class="container"> 
    <div _ngcontent-tyr-c1="" class="row">
        
    </div>
    <div _ngcontent-tyr-c1="" class="row desktop-view" *ngIf="!isMobileResolution">
       <div _ngcontent-tyr-c1="" class="col-6">
            <div _ngcontent-tyr-c1="" style="margin-top: 40px">
                <img _ngcontent-tyr-c1="" class="img-fluid" src="assets/appointment-images/03.png" style="display: block;margin: 0 auto;">
           </div>
           <div _ngcontent-tyr-c1="" style="margin-top: 60px">
                <img _ngcontent-tyr-c1="" class="img-fluid" src="assets/appointment-images/07.png" style="display: block;margin: 0 auto;"> 
           </div>
           <div _ngcontent-tyr-c1="" style="margin-top: 50px">
            <img _ngcontent-tyr-c1="" class="img-fluid" src="assets/appointment-images/06.png" style="display: block;margin: 0 auto"> 
       </div>
       </div>
    
        <div _ngcontent-tyr-c1="" class="col-6">
            <div _ngcontent-tyr-c1="" style="margin-top:150px"> 
                <img _ngcontent-tyr-c1="" class="img-fluid" src="assets/appointment-images/appointment-confirmed.png">
            </div>
        </div>
    </div>
    
    <div _ngcontent-tyr-c1="" class="row mobile-view" *ngIf="isMobileResolution">
        <div _ngcontent-tyr-c1="" class="col-12">
            <div _ngcontent-tyr-c1="" style="margin-top: 40px">
                 <img _ngcontent-tyr-c1="" class="img-fluid" src="assets/appointment-images/03.png" style="display: block;margin: 0 auto;width:50%;">
            </div>
            <div _ngcontent-tyr-c1="" style="margin-top: 20px">
                 <img _ngcontent-tyr-c1="" class="img-fluid" src="assets/appointment-images/07.png" style="display: block;margin: 0 auto;width:50%;"> 
            </div>
            <div _ngcontent-tyr-c1="" style="margin-top: 20px">
             <img _ngcontent-tyr-c1="" class="img-fluid" src="assets/appointment-images/06.png" style="display: block;margin: 0 auto;width:60%;"> 
            </div>
    
            <div _ngcontent-tyr-c1="" style="margin-top:50px"> 
                <img _ngcontent-tyr-c1="" class="img-fluid" src="assets/appointment-images/appointment-confirmed.png">
            </div>
        </div>
    </div>
    
    
    </div>
    </div>
