<div _ngcontent-tyr-c1="" class="body"> 
    <div _ngcontent-tyr-c1="" class="container"> 
    <div _ngcontent-tyr-c1="" class="row">
        
    </div>
    <div _ngcontent-tyr-c1="" class="row desktop-view" *ngIf="!isMobileResolution">
       <div _ngcontent-tyr-c1="" class="col-6">
            <div _ngcontent-tyr-c1="" style="margin-top: 40px">
                <img _ngcontent-tyr-c1="" class="img-fluid" src="assets/appointment-images/03.png" style="display: block;margin: 0 auto;">
           </div>
           <div _ngcontent-tyr-c1="" style="margin-top: 60px">
                <h1 style="display: block;margin: 0 auto;color: #5bbf6a;
                text-align: center;
                font-size: 55px;
                font-family: sans-serif;margin-top: -30px;">Thank you!</h1>
            </div>
           <div _ngcontent-tyr-c1="" style="margin-top: 50px">
            <h4 style="display: block;margin: 0 auto;text-align:center;color: #4e4e49;
            font-size: 40px;
            font-family: revert;margin-top: -35px;">Your Appointment Is Confirmed</h4>
        </div>
       </div>
    
        <div _ngcontent-tyr-c1="" class="col-6">
            <div _ngcontent-tyr-c1="" style="margin-top:150px"> 
                <img _ngcontent-tyr-c1="" class="img-fluid" src="assets/appointment-images/appointment-confirmed.png">
            </div>
        </div>
    </div>
    
    <div _ngcontent-tyr-c1="" class="row mobile-view" *ngIf="isMobileResolution">
        <div _ngcontent-tyr-c1="" class="col-12">
            <div _ngcontent-tyr-c1="" style="margin-top: 40px">
                 <img _ngcontent-tyr-c1="" class="img-fluid" src="assets/appointment-images/03.png" style="display: block;margin: 0 auto;width:50%;">
            </div>
            <div _ngcontent-tyr-c1="" style="margin-top: 20px">
                 <h1 style="display: block;margin: 0 auto;color: #5bbf6a;
                text-align: center;
                font-size: 55px;
                font-family: sans-serif;margin-top: -30px;">Thank you!</h1>
                </div>
            <div _ngcontent-tyr-c1="" style="margin-top: 20px">
             <h4 style="display: block;margin: 0 auto;text-align:center;color: #4e4e49;
             font-size: 22px;
             font-family: revert;margin-top: -35px;">Your Appointment Is Confirmed</h4>
            </div>
    
            <div _ngcontent-tyr-c1="" style="margin-top:50px"> 
                <img _ngcontent-tyr-c1="" class="img-fluid" src="assets/appointment-images/appointment-confirmed.png">
            </div>
        </div>
    </div>
    
    
    </div>
    </div>
