<div _ngcontent-ana-c1 class="body">
    
            <div _ngcontent-lek-c1="" class="container" style="margin-bottom: 120px;" >
                <div _ngcontent-lek-c1="" class="col-md-7 pb-3 text-center getstartedcont" style="padding: 20px 10px;
                background-color: rgba(4,61,92,.86);
                margin-top: 12%;
                border-radius: 15px;">
                    <div _ngcontent-lek-c1="" class="text-white getstartedtextcont">
                        <span _ngcontent-lek-c1="" class="getstartedtext">
                            <span _ngcontent-lek-c1="" class="txt-bold" style="font-size: 36px;">Does Your Roof Qualify ? </span>
                            <span _ngcontent-lek-c1="" class="txt-simple">Take our</span>
                            <span _ngcontent-lek-c1="" class="txt-underline"> 30-Second </span>
                            <span _ngcontent-lek-c1="" class="txt-bold-italic">Solar Roof Survey </span>
                            <span _ngcontent-lek-c1="" class="txt-simple">&amp; Find Out!</span>
                        </span>
                    </div>
                    <div _ngcontent-lek-c1="" class="txt-divider mt-2 mb-2"></div>
                    <div _ngcontent-lek-c1="" class="text-center text-white mb-3" style="font-size: 22px">
                        <span _ngcontent-lek-c1="">Click The Button Below To Check Your Address In 30 Seconds</span>
                    </div>
                    <button _ngcontent-lek-c1="" (click)="go()" class="btn btn-lg btn-getstarted button-glow" type="button">Get Started</button>
                </div>
                <footer _ngcontent-tjv-c1="" id="footer" style="margin: 140px 0 40px 0; position: static;">
                    <div _ngcontent-tjv-c1="" class="container">
                        <div _ngcontent-tjv-c1="" style="text-align: center;">
                            <div _ngcontent-tjv-c1="" class="footer-content">
                                <a _ngcontent-tjv-c1=""  href="#" target="_blank" style="color: white; text-align: center; font-size: 20px;">Privacy Policy</a> |
                                <a _ngcontent-tjv-c1="" href="#" target="_blank" style="color: white; text-align: center; font-size: 20px;">Terms &amp; Conditions</a>
                                <p _ngcontent-tjv-c1=""  style="color: white;text-align: center; font-size: 20px;font-weight: 100;">© Copyright 2020 - iSolarOS, All Rights Reserved</p>
                                <p style="text-align: center; color: white; font-size: 17px; margin-top: 3px;">This site is not a part of the Facebook website or Facebook Inc. Additionally, This site is NOT endorsed by Facebook in any way. FACEBOOK is a trademark of FACEBOOK, Inc.
                                </p>
                                <p><a href="#" style="color:#1d4b64; margin-top: 5px; font-size: 15px;">Privacy Police</a> / <a href="#" style="margin-top:5px;color: #1d4b64;font-size: 15px;">Terms</a></p>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
            
            
</div>