<div _ngcontent-ana-c1 class="body">
    
            <div _ngcontent-lek-c1="" class="container" style="margin-bottom: 120px;" >
                <div _ngcontent-lek-c1="" class="col-md-7 pb-3 text-center getstartedcont" style="padding: 20px 10px;
                background-color: rgba(4,61,92,.86);
                margin-top: 12%;
                border-radius: 15px;">
                    <div _ngcontent-lek-c1="" class="text-white getstartedtextcont">
                        <span _ngcontent-lek-c1="" class="getstartedtext">
                            <span _ngcontent-lek-c1="" class="txt-bold">Does Your Roof Qualify? </span>
                            <span _ngcontent-lek-c1="" class="txt-simple">Take our</span>
                            <span _ngcontent-lek-c1="" class="txt-underline"> 30-Second </span>
                            <span _ngcontent-lek-c1="" class="txt-bold-italic">Solar Roof Survey </span>
                            <span _ngcontent-lek-c1="" class="txt-simple">&amp; Find Out!</span>
                        </span>
                    </div>
                    <div _ngcontent-lek-c1="" class="txt-divider mt-2 mb-2"></div>
                    <div _ngcontent-lek-c1="" class="text-center text-white mb-3" style="font-size: 22px">
                        <span _ngcontent-lek-c1="">Click The Button Below To Check Your Address In 30 Seconds</span>
                    </div>
                    <button _ngcontent-lek-c1="" (click)="go()" class="btn btn-lg btn-getstarted button-glow" type="button">Get Started</button>
                </div>
                
            </div>
</div>