.body {
    background-image:url(https://isolaros.com/BG.45a24df44cab3bf426d3.png);
    background-repeat: no-repeat;
    margin-bottom: 0;
    height: 100vh;
    margin-top: -5px;
    padding-top: 1;
}

.btnReturnLastPage {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    background: #5bbf6a;
    color: white;
    font-size: 23px;
    width: 313px;
    height: 40px;
    padding-top: 5px;
    border-radius: 20px;
}

.btnReturnLastPage:hover{
    color:white;
    background: tomato;
}