<div _ngcontent-nax-c1="" class="body"> 
    <div _ngcontent-nax-c1="" class="container"> 
    <div _ngcontent-nax-c1="" class="row">
        
    </div>
    <div _ngcontent-nax-c1="" class="row desktop-view" *ngIf="!isMobileResolution">
       <div _ngcontent-nax-c1="" class="col-6 align-self-center">
        <div _ngcontent-nax-c1="" style="margin-top: 20px">
                <h1 style="display: block;margin: 0 auto; font-size: 89px;color: #5bbf6a;font-family: inherit;font-weight: 700;">WE'RE SORRY!</h1>
           </div>
           <div _ngcontent-nax-c1="" style="margin-top: 20px">
                <h4 style="display: block;margin: 0 auto;width:80%;font-size: 21px;
                font-family: sans-serif;
                color: #259afe;">This Program Is Exlusive To Home Owners.</h4>
            </div>
           <div _ngcontent-nax-c1="" style="margin-top: 50px">
            <a (click)="go()" class="btnReturnLastPage" style="color:white; display: block;margin: 0 auto; cursor : pointer">RETURN TO LAST PAGE</a>
        </div>
       </div>
    
        <div _ngcontent-nax-c1="" class="col-6 align-self-center">
            <div _ngcontent-nax-c1="" style="margin-top: 150px"> 
                <img _ngcontent-nax-c1="" class="img-fluid" src="assets/not-qualified-img/01.png">
            </div>
        </div>
    </div>

    <div _ngcontent-nax-c1="" class="row mobile-view" *ngIf="isMobileResolution">
        <div _ngcontent-nax-c1="" class="col-12 align-self-center">
             <div _ngcontent-nax-c1="" style="margin-top: 60px">
                <h1 style="display: block;text-align: center;margin: 0 auto;width:60%;color: #5bbf6a;font-family: inherit;font-size: 46px; font-weight: bold;">WE'RE SORRY!</h1>
                </div>
            <div _ngcontent-nax-c1="" style="margin-top: 20px">
                 <h4 style="display: block;margin: 0 auto;width:80%;font-size: 18px;
                 font-family: sans-serif;
                 color: #259afe;text-align: center;">This Program Is Exlusive To Home Owners.</h4>
                </div>
            <div _ngcontent-nax-c1="" style="margin-top: 30px"> 
                <img _ngcontent-nax-c1="" class="img-fluid" src="assets/not-qualified-img/01.png">
            </div>
            <div _ngcontent-nax-c1="" style="margin-top: 50px">
                <a (click)="go()" class="btnReturnLastPage" style="color:white; display: block;margin: 0 auto; cursor : pointer">RETURN TO LAST PAGE</a>

            </div>
        </div>
     </div>
    
    </div>
    </div>