.body {
    background-image:url(https://isolaros.com/BG.45a24df44cab3bf426d3.png);
    background-repeat: no-repeat;
    margin-bottom: 0;
    height: 100vh;
    margin-top: -5px;
    padding-top: 1;
}