<div _ngcontent-nax-c1="" class="body"> 
    <div _ngcontent-nax-c1="" class="container"> 
    <div _ngcontent-nax-c1="" class="row">
        
    </div>
    <div _ngcontent-nax-c1="" class="row desktop-view" *ngIf="!isMobileResolution">
       <div _ngcontent-nax-c1="" class="col-6 align-self-center">
        <div _ngcontent-nax-c1="" style="margin-top: 20px">
                <img _ngcontent-nax-c1="" class="img-fluid" src="assets/not-qualified-img/03.png" style="display: block;margin: 0 auto;">
           </div>
           <div _ngcontent-nax-c1="" style="margin-top: 20px">
                <img _ngcontent-nax-c1="" class="img-fluid" src="assets/not-qualified-img/04.png" style="display: block;margin: 0 auto;width:80%;"> 
           </div>
           <div _ngcontent-nax-c1="" style="margin-top: 50px">
            <img _ngcontent-nax-c1="" class="img-fluid" (click)="go()" src="assets/not-qualified-img/05.png" style="display: block;margin: 0 auto; cursor : pointer"> 
        </div>
       </div>
    
        <div _ngcontent-nax-c1="" class="col-6 align-self-center">
            <div _ngcontent-nax-c1="" style="margin-top: 150px"> 
                <img _ngcontent-nax-c1="" class="img-fluid" src="assets/not-qualified-img/01.png">
            </div>
        </div>
    </div>

    <div _ngcontent-nax-c1="" class="row mobile-view" *ngIf="isMobileResolution">
        <div _ngcontent-nax-c1="" class="col-12 align-self-center">
             <div _ngcontent-nax-c1="" style="margin-top: 60px">
                 <img _ngcontent-nax-c1="" class="img-fluid" src="assets/not-qualified-img/03.png" style="display: block;margin: 0 auto;width:60%;">
            </div>
            <div _ngcontent-nax-c1="" style="margin-top: 20px">
                 <img _ngcontent-nax-c1="" class="img-fluid" src="assets/not-qualified-img/04.png" style="display: block;margin: 0 auto;width:80%;"> 
            </div>
            <div _ngcontent-nax-c1="" style="margin-top: 30px"> 
                <img _ngcontent-nax-c1="" class="img-fluid" src="assets/not-qualified-img/01.png">
            </div>
            <div _ngcontent-nax-c1="" style="margin-top: 50px">
                <img _ngcontent-nax-c1="" class="img-fluid" (click)="go()" src="assets/not-qualified-img/05.png" style="display: block;margin: 0 auto;width:80%; cursor : pointer"> 
            </div>
        </div>
     </div>
    
    </div>
    </div>