<body id="body">
    
    <div class="site-content">
        <div _ngcontent-qjg-c1="" class="desktop-view">
            <div _ngcontent-qjg-c1="" class="">
                <div _ngcontent-qjg-c1="" class="apSec-title text-center">
                    <h2 _ngcontent-qjg-c1="" class="aptxtone">Almost Done... </h2>
                    <p _ngcontent-qjg-c1="" class="">Pick Which Date &amp; Time Works Best For You 👌.</p>
                </div>
            </div>
            
            <div _ngcontent-qjg-c1="" class="">
                <div _ngcontent-qjg-c1="" class="steponebox text-left">
                    <h2 _ngcontent-qjg-c1="" class="apstep2txtone"><span _ngcontent-qjg-c1="" class="onespan">1</span><a _ngcontent-qjg-c1="" href="#">Choose Appointment</a></h2>
                    <div _ngcontent-qjg-c1="" class="steponebox text-left">
                        <h4 _ngcontent-qjg-c1="" class="innertext"><a _ngcontent-qjg-c1="" href="#" style="font-size: 18px;">Consultation</a></h4>
                        <h5 _ngcontent-qjg-c1="">30 minutes</h5>
                    </div>
                    
                    <div _ngcontent-qjg-c1="" class="table-responsive ">

                        
                        <table _ngcontent-qjg-c1="" class="table table-borderless">

                            
                            <thead _ngcontent-qjg-c1="">
                                <tr _ngcontent-qjg-c1="" style="background: #f9f9f9; border-bottom: none">
                                    <th _ngcontent-qjg-c1="">
                                        <span _ngcontent-qjg-c1="" style="font-size: 12px;">THIS WEEK</span><br _ngcontent-qjg-c1="">
                                        <span _ngcontent-qjg-c1="" class="daysspan">Friday</span><br _ngcontent-qjg-c1=""> Sep 18
                                        
                                    </th>

                                    <th _ngcontent-qjg-c1="" class="th-lg">
                                        <span _ngcontent-qjg-c1="" class="daysspan">Saturday</span><br _ngcontent-qjg-c1=""> Sep 19
                                    </th>

                                    <th _ngcontent-qjg-c1="" class="th-lg">
                                        <span _ngcontent-qjg-c1="" class="daysspan">Sunday</span><br _ngcontent-qjg-c1=""> Sep 20
                                    </th>

                                    <th _ngcontent-qjg-c1="" class="th-lg">
                                        <span _ngcontent-qjg-c1="" class="daysspan">Monday</span><br _ngcontent-qjg-c1=""> Sep 21
                                    </th>

                                    <th _ngcontent-qjg-c1="" class="th-lg">

                                        <span _ngcontent-qjg-c1="" class="daysspan">
                                   Tuesday
                                   
                                </span><br _ngcontent-qjg-c1=""> Sep 22
                                    </th>
                                </tr>
                            </thead>
                            

                            
                            <tbody _ngcontent-qjg-c1="">
                                <tr _ngcontent-qjg-c1="">
                                    <!----><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="9:00 AM Friday" class="table-border">9:00 AM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="9:00 AM Saturday" class="table-border">9:00 AM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="9:00 AM Sunday" class="table-border">9:00 AM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="9:00 AM Monday" class="table-border">9:00 AM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="9:00 AM Tuesday" class="table-border">9:00 AM</button>
                                    </td>
                                </tr>
                                <tr _ngcontent-qjg-c1="">
                                    <!----><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="11:00 AM Friday" class="table-border">11:00 AM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="11:00 AM Saturday" class="table-border">11:00 AM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="11:00 AM Sunday" class="table-border">11:00 AM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)"  value="11:00 AM Monday" class="table-border">11:00 AM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="11:00 AM Tuesday" class="table-border">11:00 AM</button>
                                    </td>
                                </tr>
                                <tr _ngcontent-qjg-c1="">
                                    <!----><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="1:00 PM Friday" class="table-border">1:00 PM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="1:00 PM Saturday" class="table-border">1:00 PM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)"  value="1:00 PM Sunday" class="table-border">1:00 PM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="1:00 PM Monday" class="table-border">1:00 PM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="1:00 PM Tuesday" class="table-border">1:00 PM</button>
                                    </td>
                                </tr>
                                <tr _ngcontent-qjg-c1="">
                                    <!----><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="3:00 PM Friday" class="table-border">3:00 PM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="3:00 PM Saturday" class="table-border">3:00 PM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="3:00 PM Sunday" class="table-border">3:00 PM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="3:00 PM Monday" class="table-border">3:00 PM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="3:00 PM Tuesday" class="table-border">3:00 PM</button>
                                    </td>
                                </tr>
                                <tr _ngcontent-qjg-c1="">
                                    <!----><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="5:00 PM Friday" class="table-border">5:00 PM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="5:00 PM Saturday" class="table-border">5:00 PM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="5:00 PM Sunday" class="table-border">5:00 PM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="5:00 PM Monday" class="table-border">5:00 PM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="5:00 PM Tuesday" class="table-border">5:00 PM</button>
                                    </td>
                                </tr>
                                <tr _ngcontent-qjg-c1="">
                                    <!----><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="7:00 PM Friday" class="table-border">7:00 PM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="7:00 PM Saturday" class="table-border">7:00 PM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="7:00 PM Sunday" class="table-border">7:00 PM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="7:00 PM Monday" class="table-border">7:00 PM</button>
                                    </td><td _ngcontent-qjg-c1="" scope="row" class="ng-star-inserted">
                                        <button _ngcontent-qjg-c1="" (click)="show($event.target.value)" value="7:00 PM Tuesday" class="table-border">7:00 PM</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>